@media screen and (max-width: 430px) {
  .dashContainer {
    font-size: 0.6875rem;
  }
  .dashContainer > h1 {
    font-size: 0.6875rem;
  }
  .dashContainer > p {
    font-size: 0.6875rem;
  }
  .dashContainer > div {
    font-size: 0.5875rem;
  }
  .taskElement {
    font-size: 0.4875rem;
  }
  .taskElement_isCompleted {
    font-size: 0.5875rem;
    padding-left: 1rem;
  }
  .createdAtElement {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .dashContainer {
    font-size: 0.5875rem;
  }
}

@media screen and (max-width: 1023px) {
  .mydash_main {
    margin-top: 10%;
  }
}
